openapi: 3.1.0
info:
  title: OnlyUsedTesla API
  version: 0.1.1
servers:
  - url: https://apiv2.onlyusedtesla.com
  - url: http://localhost:3003

security:
  - bearerAuth: []

tags:
  - name: Health
  - name: Listings
  - name: Auth
  - name: Users
  - name: Sellers
  - name: SellerGroups
  - name: Roles
  - name: Permissions
  - name: Payments

paths:
  /health:
    get:
      tags: [Health]
      summary: Service liveness
      security: []
      responses:
        '200': { description: OK }

  /health/cosmos:
    get:
      tags: [Health]
      summary: Cosmos connectivity
      security: []
      responses:
        '200': { description: OK }

  /health/storage:
    get:
      tags: [Health]
      summary: Azure Storage connectivity
      security: []
      responses:
        '200': { description: OK }

  /listings/search:
    get:
      tags: [Listings]
      summary: Search listings (FULL docs inc. images). Country-filtered.
      parameters:
        - { $ref: '#/components/parameters/XCountryRequired' }
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Ct' }
        - { $ref: '#/components/parameters/SaleType' }  # repeatable (?saleType=ForSale&saleType=CashOffer)
        - name: saleTypeMatch
          in: query
          schema: { type: string, enum: [any, only], default: any }
      responses:
        '200': { description: OK }

  /auth/signup/private:
    post:
      tags: [Auth]
      summary: Sign up as Private seller
      parameters:
        - { $ref: '#/components/parameters/XCountry' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SignUpPrivate' }
      responses:
        '201': { description: Created }

  /auth/signup/dealer:
    post:
      tags: [Auth]
      summary: Sign up as Dealer (creates user + seller; optional sellerGroup)
      parameters:
        - { $ref: '#/components/parameters/XCountry' }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SignUpDealer' }
      responses:
        '201': { description: Created }

  /auth/signin:
    post:
      tags: [Auth]
      summary: Sign in (email + password)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SignIn' }
      responses:
        '200': { description: OK }

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh tokens
      responses:
        '200': { description: OK }

  /auth/logout:
    post:
      tags: [Auth]
      summary: Logout
      responses:
        '204': { description: No Content }

  /users/me:
    get:
      tags: [Users]
      summary: Current user
      responses:
        '200': { description: OK }
    patch:
      tags: [Users]
      summary: Update current user
      responses:
        '200': { description: OK }

  /sellers/me:
    get:
      tags: [Sellers]
      summary: My seller document
      responses:
        '200': { description: OK }

  /sellers/{id}:
    get:
      tags: [Sellers]
      summary: Get seller by id
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: OK }
    patch:
      tags: [Sellers]
      summary: Update seller
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: OK }

  /seller-groups:
    post:
      tags: [SellerGroups]
      summary: Create seller group
      responses:
        '201': { description: Created }
    get:
      tags: [SellerGroups]
      summary: List seller groups
      parameters:
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Ct' }
      responses:
        '200': { description: OK }

  /roles:
    get:
      tags: [Roles]
      summary: List roles
      parameters:
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Ct' }
      responses:
        '200': { description: OK }
    post:
      tags: [Roles]
      summary: Create role
      responses:
        '201': { description: Created }

  /roles/{id}:
    patch:
      tags: [Roles]
      summary: Update role
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: OK }

  /permissions:
    get:
      tags: [Permissions]
      summary: List permissions
      parameters:
        - { $ref: '#/components/parameters/Limit' }
      responses:
        '200': { description: OK }
    post:
      tags: [Permissions]
      summary: Create permission
      responses:
        '201': { description: Created }

  /permissions/{id}:
    patch:
      tags: [Permissions]
      summary: Update permission
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        '200': { description: OK }

  /payments/dealer/checkout:
    post:
      tags: [Payments]
      summary: Init dealer subscription checkout (Stripe)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subscriptionIds, customerEmail]
              properties:
                subscriptionIds:
                  type: array
                  items: { type: string }
                customerEmail:
                  type: string
                  format: email
      responses:
        '201': { description: Created }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    XCountry:
      name: X-Country
      in: header
      description: Optional country isolation for non-admin routes.
      required: false
      schema: { type: string, example: "US" }

    XCountryRequired:
      name: X-Country
      in: header
      description: Country isolation. Required for this endpoint.
      required: true
      schema: { type: string, example: "US" }

    Limit:
      name: limit
      in: query
      schema: { type: integer, minimum: 1, maximum: 100, default: 10 }

    Ct:
      name: continuationToken
      in: query
      schema: { type: string }

    SaleType:
      name: saleType
      in: query
      description: Repeatable enum filter (?saleType=ForSale&saleType=CashOffer)
      schema:
        type: array
        items:
          type: string
          enum: [ForSale, Lease, SalePending, CashOffer]
      style: form
      explode: true

  schemas:
    SignUpPrivate:
      type: object
      required: [firstName, lastName, email, phone, password, confirmPassword, acceptTos]
      properties:
        firstName: { type: string }
        lastName:  { type: string }
        email:     { type: string, format: email }
        phone:     { type: string }
        zipCode:   { type: string }
        password:  { type: string, minLength: 8 }
        confirmPassword: { type: string, minLength: 8 }
        acceptTos: { type: boolean }
        country:   { type: string, example: "US" }

    SignUpDealer:
      type: object
      required:
        [firstName, lastName, email, phone, address, password, confirmPassword, whoAreYouRepresenting, businessType, companyName, syndicationSystem, subscriptionIds, acceptTos]
      properties:
        firstName: { type: string }
        lastName:  { type: string }
        email:     { type: string, format: email }
        phone:     { type: string }
        address:   { type: string }
        password:  { type: string, minLength: 8 }
        confirmPassword: { type: string, minLength: 8 }
        whoAreYouRepresenting:
          type: string
          enum: [SingleDealer, GroupDealer]
        dealerGroupName:
          type: string
          description: Required if whoAreYouRepresenting=GroupDealer
        businessType: { type: string }
        companyName:  { type: string }
        syndicationSystem: { type: string, example: "vAuto" }
        owner:
          type: object
          properties:
            isOwner: { type: boolean }
            name: { type: string }
            email: { type: string, format: email }
        businessSites:
          type: array
          items: { type: string }
        subscriptionIds:
          type: array
          items: { type: string }
          description: Stripe price IDs (one or more)
        acceptTos: { type: boolean }
        country:   { type: string, example: "US" }

    SignIn:
      type: object
      required: [email, password]
      properties:
        email: { type: string, format: email }
        password: { type: string, minLength: 8 }