name: Docker Build Production OUT WEB

on:
  push:
    branches: [production1]
  pull_request:
    branches: [production1]

jobs:
  OnlyUsedTesla-web-us-prod:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate date time string.
        id: datetime
        run: |
          DATE=$(date +"%y%m%d-%H%M")
          echo "datetime=$DATE" >> $GITHUB_OUTPUT

      - uses: azure/docker-login@v2
        with:
          login-server: onlyusedtesla.azurecr.io
          username: ${{ secrets.PRODUCTION_REGISTRY_USERNAME }}
          password: ${{ secrets.PRODUCTION_REGISTRY_PASSWORD }}
      - name: Install Dependencies
        run: npm i --legacy-peer-deps
      - name: Run nx lint
        run: npm run lint
      - name: Run nx test
        run: npm run test
      - name: Run nx build
        run: npm run build
      - run: |
          docker build -f ./Dockerfile-US -t onlyusedtesla.azurecr.io/out-web-us:${{ steps.datetime.outputs.datetime }} .
          docker push onlyusedtesla.azurecr.io/out-web-us:${{ steps.datetime.outputs.datetime }}
